@import '/src/sass/tokens';

.body {
  height: 100vh;
}

.body h1 {
  text-align: left;    
  margin-top: 50px;
  color: $color-neutral-light;
  font-size: 28px;
  font-family: $font-family-secondary;
  font-weight: $font-weight-bold;

  span {
    color: $color-primary-light;
  }
}

.about_wrapper {
  height: 40em;
}
.about_text {
  position: relative;
}

.hidden {
  display: none;
}

.show {
  position: absolute;
  left: -10em;
  height: 20em;
  -webkit-animation: slide-in 1s forwards;
  animation: slide-in 1s forwards;
}
@-webkit-keyframes slide-in {
 100% { left: 0 }
}
@keyframes slide-in {
 100% { left: 0 }
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;   
  grid-column-gap: 40px;
}