@import 'sass/_tokens';

.body h1 {
  text-align: left;    
  margin-top: 50px;
  color: $color-neutral-light;
  font-weight: $font-weight-bold;
}

.about_wrapper {
  height: 40em;
  // width: 100vw;
}
.about_text {
  position: relative;
  // width: 30em;
  // height: 20em;
}

.hidden {
  display: none;
}

.show {
  position: absolute;
  left: -10em;
  // width: 30em;
  height: 20em;
  -webkit-animation: slide-in 1s forwards;
  animation: slide-in 1s forwards;
}
@-webkit-keyframes slide-in {
 100% { left: 0 }
}
@keyframes slide-in {
 100% { left: 0 }
}

.posts {
  padding: 0 6vw 3.625rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 20px;
}

@media (max-width: 1100px) {
  .posts {
      margin-top: 0;
      padding: 2rem 1.5rem 3.625rem;
  }
}

@media (max-width: 744px) {
  .posts {
      padding: 2rem 1rem 3rem;
  }
}