@import '/src/sass/tokens';

.skills{
  margin-bottom: 100px;  

  h1 {
    text-align: left;    
    margin-top: 50px;
    color: $color-neutral-light;
    font-weight: $font-weight-bold;
  }

  div {
    align-items: center;
    justify-items: center;
  }

  li {
    background-color: rgba(17, 23, 43, 0.8);
    display: inline-block;
    margin: 0 25px 25px 25px;
    border: 1px solid rgba(22, 29, 54, 0.8);
    padding: 20px;
    transition: 1s all ease;
  }

  li:hover {    
    border: 1px solid $color-primary;
    transition: 1s all ease;
  }
  
  img {
    width: 70px;
    height: 70px;
  }  

  .about_wrapper {
    height: 15em;
    // width: 100vw;
  }
  .about_text {
    position: relative;
    // width: 30em;
    // height: 20em;
  }
  
  .hidden {
    display: none;
  }

  .show {
    position: absolute;
    left: -10em;
    // width: 30em;
    height: 20em;
    -webkit-animation: slide-in 1s forwards;
    animation: slide-in 1s forwards;
  }
  @-webkit-keyframes slide-in {
   100% { left: 0 }
  }
  @keyframes slide-in {
   100% { left: 0 }
  }

} 

