@import '/src/sass/tokens';

.skills{
  padding-bottom: 150px;
  height: auto;
  border-bottom: $border-division;

  h1 {
    text-align: left;    
    margin-top: 50px;
    color: $color-neutral-light;
    font-size: 28px;
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;

    span {
      color: $color-primary-light;
    }
  }

  div {
    align-items: center;
    justify-items: center;
  }

  li {
    background-color: rgba(17, 23, 43, 0.8);
    display: inline-block;
    margin: 0 25px 25px 25px;
    border: 1px solid rgba(22, 29, 54, 0.8);
    padding: 20px;
    transition: 1s all ease;
  }

  li:hover {    
    border: 1px solid $color-primary;
    transition: 1s all ease;
  }
  
  img {
    width: 70px;
    height: 70px;
  }  

  .about_wrapper {
    height: 15em;
  }
  .about_text {
    position: relative;
  }
  
  .hidden {
    display: none;
  }
} 

