@import '/src/sass/tokens';

.section__aboutme {
  padding: 50px 40px 100px 5px;
  border-bottom: $border-division;
  font-family: $font-family-secondary;
}

h1 {
  color: $color-neutral-light;
  font-size: 28px;
  font-family: $font-family-secondary;
  font-weight: $font-weight-bold;

  span {
    color: $color-primary-light;
  }
}

.about__div {
  padding-left: 25px;
  display: grid;
  grid-template-columns: 180px auto;
}

.sections {
  padding-right: 20px;

  li {
    color: $color-neutral-ultra-light;
    font-size: 22px;
    font-weight: $font-weight-bold;
    padding: 10px 0 10px 20px;
    border-left: 1px solid $color-neutral-ultra-light;
    cursor: pointer;
  }

  li:hover {
    background-color: rgba(217, 217, 217, 0.1);
    color: $color-primary-light;
    border-left: 1px solid $color-primary-light;
  }

  .active {
    background-color: rgba(217, 217, 217, 0.1);
    color: $color-primary-light;
    border-left: 1px solid $color-primary-light;
  }
}

.sectionText {
  color: $color-neutral-ultra-light;
  font-size: 20px;
}

.aboutme {
  text-align: center;
  color: $color-neutral-ultra-light;
  font-size: $font-size-heading-md; 
  line-height: 180%;
}

.about_wrapper {
  height: 15em;
}
.about_text {
  position: relative;
}

.show {
  position: absolute;
  left: -10em;
  height: 20em;
  -webkit-animation: slide-in 1s forwards;
  animation: slide-in 1s forwards;
}
@-webkit-keyframes slide-in {
 100% { left: 0 }
}
@keyframes slide-in {
 100% { left: 0 }
}