@import '/src/sass/tokens';
.link {
    font-size: $font-size-heading-sm;
    font-weight: $font-weight-bold;
    line-height: 1.5rem;
    color: $color-neutral-light;
}

.link:hover {
    color: $color-primary-light;
    transform: scale(1.1);
}

.link_active {
    color: $color-primary-light;
}
