@import '/src/sass/tokens';

.container {
  margin-top: 100px;
  padding: 0px 200px;
  min-height: 100vh;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   
  grid-column-gap: 5px;
  margin-top: 50px;  
}

.filters {

  span {
    color: $color-neutral-white;
    font-weight: $font-weight-bold;
    margin-top: 50px;
  }  

  ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    width: 600px;
  }

  li {    
    color: $color-neutral-white;
    font-size: 16px;
    font-weight: 700;
    margin-top: 50px;
    margin-right: 20px;
    background-color: rgba(187, 187, 187, 0.55);
    border-radius: 8px;
    padding: 5px 18px;
    align-items: center;
    cursor: pointer;
    width: auto;
  }

  li:hover {
    color: #000000;
    background-color: $color-primary-light;
    font-weight: 700;
  }
}

.filter__active {
  color: #000000 !important;
  background-color: $color-primary-light !important;
  font-weight: 700 !important;
}

.project {
  background-color: #14143a;
  width: 443px;
  min-height: 200px;
  border: 1px solid hsla(0,0%,100%,.1);
  border-radius: 17px;
  padding: 20px;
  margin-bottom: 50px;
}

.project__name{
  color: $color-neutral-ultra-light;
  font-size: 20px;
  font-weight: 700;
  text-transform: lowercase;
}

.project__description {
  color: $color-neutral-light;
  font-size: 16px;
  line-height: 1.7rem;
  margin-top: 20px;
}

.project__btns{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  color: #909FAF;
  text-transform: uppercase;
  font-size: 13px;
}

.btnRead:hover {
  border: none;
  color: $color-primary-light;
  text-decoration: underline;
} 

.icons {
  margin-right: 8px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.techs {
  margin-top: 10px;
  margin-bottom: 20px;

  &__li {
    display: inline-block;
    margin-right: 10px;
    width: 24px;
    cursor: pointer;
  }    
}

.noProject {
  color: $color-neutral;
  margin-top: 100px;
}