@import '/src/sass/tokens';

.container {
  margin-top: 100px;
  padding: 0px 200px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   
  grid-column-gap: 5px;
  background: $background-gradient;
  margin-top: 50px;
}

.filters {

  span {
    color: $color-neutral-white;
    font-weight: $font-weight-bold;
    margin-top: 50px;
  }
  

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
  }

  li {    
    color: $color-neutral-white;
    margin-top: 50px;
    background-color: rgba(148,163,184,.3);
    border-radius: 10px;
    padding: 7px;
    align-items: center;
    cursor: pointer;
  }

  li:hover {
    color: $color-primary-light;
  }
}