@import '/src/sass/tokens';

.footer {
  background-color: $backogrund-dark;
  color: $color-primary-light;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  border-top: 1px solid $color-primary;

  img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: -10px;
  }

  img:hover {
    transform: scale(1.3);
  }
}