@import '/src/sass/tokens';

.banner {    
    padding-top: 150px;
    padding-bottom: 150px;
    color: $color-neutral-white;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}

.title {
    font-size: 4rem;
    margin-top: 4.875rem;
    margin-bottom: 2rem;
}

.paragraph {
    text-align: left;   
    color: $color-neutral;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.paragraph:hover {
    color: $color-primary-light;
}

.images {
    position: relative;
    height: 406px;
    left: 200px;
}

.images img {
    width: 400px;
    height: 400px;
}

.socials{
    text-align: center;
    display: flex;
    gap: 2.5rem;

    &__btn {
        color: $color-neutral-ultra-light;
        font-weight: $font-weight-bold;
        margin-right: 10px;
        background-color: transparent;
        border: 0.1rem solid $color-primary;
        border-radius: 2rem;
        padding: 15px;
        width: 200px;
        transition: 0.3s;
    }

    &__btn:hover {
        color: $color-neutral-ultra-light;
        font-weight: $font-weight-bold;
        background-color: $color-primary;
        border: 1px solid $color-primary-light;
    }
}

@media (max-width: 1100px) {    
    .banner {
        padding: 3.5rem 1.5rem;
    }

    .title {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .paragraph {
        margin-bottom: 1.5rem;
    }

    .images {
        height: 338px;
        left: 80px;
    }
}

@media (max-width: 744px) {
    .banner {
        padding: 2rem 1rem;
        display: block;
    }

    .title {
        margin-bottom: 2rem;
    }

    .paragraph {
        margin-bottom: 2rem;
    }

    .images {
        height: 307px;
        left: 50px;
    }
}